*
{
    margin: 0px;
    padding: 0px;

    font-family: monospace;
    font-size: xx-large;
}

#centre
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculatorContainer
{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 5px;
    border-radius: 10px;
    background-color: hsl(0,0%,97%);
}

#calculatorDisplay
{  
   flex-basis: 20vh; 
   flex-grow: 1;
   flex-shrink: 1;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   background-color: hsl(0,0%,93%);
   margin: 3px;
   padding: 10px;
}

#calculatorButtons
{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-basis: 60vh;
    flex-grow: 1;
    flex-shrink: 1;
}

.buttonColumn
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.buttonColumn, .calculatorButton
{
    flex-grow: 1;
}

.invisible
{
    display: none; /* So that the empty buttons don't display their textcontent of "H" */
}

.calculatorButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0,0%,85%);
    border-radius: 10px;
    margin: 3px;
    user-select: none;
    flex: 1 1 0;
}

.calculatorButton:hover
{
    background-color: hsl(0,0%,80%);
}

.calculatorButton:active
{
    background-color: hsl(0,0%,70%);
}

.displayTop
{
    flex-grow: 1;
    align-self: flex-start;
}

.displayBottom
{
    flex-grow: 1;
    align-self: flex-end;
    text-align: end;
    display: flex;
    align-items: flex-end;
}

#emptyButton
{
    background-color: hsl(0,0%,97%);
}

#plusButton, #timesButton, #divideButton, #minusButton
{
    background-color: hsl(0,0%,30%);
    color: hsl(0,0%,93%);
}
#plusButton:hover, #timesButton:hover, #divideButton:hover, #minusButton:hover
{
    background-color: hsl(0,0%,15%);
    color: hsl(0,0%,93%);
}
#plusButton:active, #timesButton:active, #divideButton:active, #minusButton:active
{
    background-color: hsl(0,0%,93%);
    color: black;
}

#equalsButton, #backspaceButton, #clearButton
{
    background-color: hsl(0,0%,90%);
}
#equalsButton:hover, #backspaceButton:hover, #clearButton:hover
{
    background-color: hsl(0,0%,85%);
}
#equalsButton:active, #backspaceButton:active, #clearButton:active
{
    background-color: hsl(0,0%,75%);
}