*
{
    margin: 0px;
    padding: 0px;

    font-family: monospace;
    font-size: xx-large;
}

#centre
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculatorContainer
{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

#calculatorDisplay
{  
   flex-basis: 20vh; 
   flex-grow: 1;
   flex-shrink: 1;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   background-color: rgb(230,230,230);
   margin: 3px;
   padding: 10px;
}

#calculatorButtons
{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-basis: 60vh;
    flex-grow: 1;
    flex-shrink: 1;
}

.buttonColumn
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.buttonColumn, .calculatorButton
{
    flex-grow: 1;
}

.invisible
{
    display: none; /* So that the empty buttons don't display their textcontent of "H" */
}

.calculatorButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230,230,230);
    border-radius: 10px;
    margin: 3px;
    user-select: none;
    flex: 1 1 0;
}

.calculatorButton:hover
{
    background-color: rgb(200,200,200);
}

.calculatorButton:active
{
    background-color: rgb(150,150,150);
}

.displayTop
{
    flex-grow: 1;
    align-self: flex-start;
}

.displayBottom
{
    flex-grow: 1;
    align-self: flex-end;
    text-align: end;
}